<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
</head>
    <style>
    @media screen and (min-width: 770px) {
    #copyright::after{
        content: " 2024";
    }
}
        </style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 </button>
    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbar">
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item active">
        <a class="nav-link fa fa-home" id="home" href="/">  Home</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link fa fa-bar-chart" href="/monthly_statement">  Summary</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link fa fa-address-book" href="/contacts">  Contacts</a>
      </li>
        {% if user.id == 1 %}
        <li class="nav-item">
        <a class="nav-link fa fa-wrench" href="/admin">  Admin Panel</a>
        </li>
            {% endif %}
        {% if user.is_admin%}
        <li class="nav-item">
        <a class="nav-link fa fa-cogs" href="/control_panel">  Control Panel</a>
        </li>
        {% endif %}
        <li class="nav-item active">
        <a class="nav-link fa fa-sign-out" id="logout" href="/logout">Logout</a>
      </li>
        <li class="nav-item">
        <a class="nav-link fa fa-question-circle" href="/about">  About</a>
      </li>
  <li class="nav-item active">
        <a class="nav-link fa fa-comment" href="/feedback"></a>
      </li>
    </ul>
    </ul>
    </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="text-light h6">Welcome &nbsp;</p>
            </li>
            <li class="nav-item">
            <p class="text-success h6">{{ user.username }}</p>
            </li>

        {% else %}
        <li class="nav-item active">
        <a class="nav-link  fa fa-sign-in" id="login" href="/login">  Login</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link fa fa-user-plus" id="signup" href="/sign-up">  Sign Up</a>
      </li>
            <li class="nav-item">
        <a class="nav-link fa fa-question-circle" href="/about">  About</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
     <ul>
        {% for category, message in messages %}
         {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% else %}
         <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        {% endfor %}
      </ul>
  {% endif %}
{% endwith %}
<div class="container mt-auto">
    {% block content %}
    {% endblock %}
</div>
<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<div class="container-fluid">
    <br>
  <footer class="footer fixed-bottom bg-light border-top">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 w-25 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <li class="px-2 ms-3 fa fa-circle fa-x text-success" title="Ready"><a class="text-muted" ></a></li>
          </a>
        </div>
        <div class="col-md-4 w-25 text-center">
          <span id="copyright" class="text-muted">©TideTime</span>
        </div>
        <div class="col-md-4 w-25 d-flex justify-content-end">
          <ul class="nav list-unstyled">
            <li class="ms-3"><a class="text-muted" href="https://github.com/crazynews"><i title="Github Project" class="fa fa-github fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

</body>
</html>
