{% extends "admin/master.html"%}
{%block body%}

<br>
<div class="container">
  <div class="row justify-content-center align-items-baseline">
    <div class="col text-center">
        <span class="fa fa-universal-access fa-2x text-dark"></span>
      <h3 class="d-inline-block mb-0 text-success fa-1x "> </h3>
      <h3 class="d-inline-block mb-0 fa-1x">Admin Panel</h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Welcome to the Admin Panel!</h4>
          <p class="card-text">Dear Administrator,</p>
          <p class="card-text">Welcome to the powerful control center of our website. Here, you have the tools and insights to manage every aspect of our online presence effectively. Whether it's updating content, analyzing user data, or configuring settings, this is where the magic happens.</p>
          <p class="card-text">Feel empowered to make decisions that shape the digital experience for our users. Your dedication and expertise play a crucial role in ensuring our website remains vibrant and engaging.</p>
          <p class="card-text">Thank you for your commitment and hard work. Let's continue to collaborate and drive success together!</p>
          <p class="card-text">Best regards,</p>
          <p class="card-text">TideTime Team (by Pavel Dordea)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bun venit în Panoul de Administrare!</h4>
          <p class="card-text">Dragă Administrator,</p>
          <p class="card-text">Bine ai venit în centrul de control puternic al site-ului nostru. Aici, ai la dispoziție instrumentele și informațiile necesare pentru a gestiona fiecare aspect al prezenței noastre online în mod eficient. Fie că este vorba despre actualizarea conținutului, analizarea datelor utilizatorilor sau configurarea setărilor, aici este locul unde se întâmplă magia.</p>
          <p class="card-text">Simte-te împuternicit să iei decizii care modelează experiența digitală a utilizatorilor noștri. Dedicația și expertiza ta joacă un rol crucial în asigurarea faptului că site-ul nostru rămâne vibrant și captivant.</p>
          <p class="card-text">Îți mulțumim pentru angajamentul și munca ta asiduă. Să continuăm să colaborăm și să aducem succes împreună!</p>
          <p class="card-text">Cu cele mai bune gânduri,</p>
          <p class="card-text">Echipa TideTime (by Pavel Dordea)</p>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
